@font-face {
  font-family: 'sendicon';
<<<<<<< HEAD
  src:  url('fonts/sendicon.eot?cxf0ow');
  src:  url('fonts/sendicon.eot?cxf0ow#iefix') format('embedded-opentype'),
    url('fonts/sendicon.ttf?cxf0ow') format('truetype'),
    url('fonts/sendicon.woff?cxf0ow') format('woff'),
    url('fonts/sendicon.svg?cxf0ow#sendicon') format('svg');
=======
  src:  url('fonts/sendicon.eot?tc6o3o');
  src:  url('fonts/sendicon.eot?tc6o3o#iefix') format('embedded-opentype'),
    url('fonts/sendicon.ttf?tc6o3o') format('truetype'),
    url('fonts/sendicon.woff?tc6o3o') format('woff'),
    url('fonts/sendicon.svg?tc6o3o#sendicon') format('svg');
>>>>>>> parent of 7f3cd6c... add failed icon
  font-weight: normal;
  font-style: normal;
}

[class^="sendicon-"], [class*=" sendicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sendicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

<<<<<<< HEAD
.sendicon-icon--motocycle:before {
  content: "\e963";
}
.sendicon-icon-assign-01:before {
  content: "\e964";
}
.sendicon-icon-assign-sub:before {
  content: "\e965";
}
.sendicon-icon-attachment-01:before {
  content: "\e966";
}
.sendicon-icon-backpack:before {
  content: "\e967";
}
.sendicon-icon-bar-chart:before {
  content: "\e968";
}
.sendicon-icon-calculator:before {
  content: "\e969";
}
.sendicon-icon-clone:before {
  content: "\e96a";
}
.sendicon-icon-filter:before {
  content: "\e96b";
}
.sendicon-icon-folder:before {
  content: "\e96c";
}
.sendicon-icon-heart:before {
  content: "\e96d";
}
.sendicon-icon-loading-2:before {
  content: "\e96e";
}
.sendicon-icon-Navi:before {
  content: "\e96f";
}
.sendicon-icon-parcel-sorting:before {
  content: "\e970";
}
.sendicon-icon-slash-mini:before {
  content: "\e971";
}
.sendicon-icon-slash:before {
  content: "\e972";
}
.sendicon-icon-sort:before {
  content: "\e973";
}
.sendicon-icon-store:before {
  content: "\e974";
}
.sendicon-icon-tag:before {
  content: "\e975";
}
.sendicon-icon-truck-4w:before {
  content: "\e976";
}
.sendicon-icon-truck-6w2:before {
  content: "\e977";
}
.sendicon-icon-truck-6w:before {
  content: "\e978";
}
.sendicon-icon-truck-10w:before {
  content: "\e979";
}
.sendicon-icon-alarm:before {
=======
.sendicon-icon-checkbox-cancel:before {
>>>>>>> parent of 7f3cd6c... add failed icon
  content: "\e962";
}
.sendicon-icon-monitor:before {
  content: "\e961";
}
.sendicon-icon-line:before {
  content: "\e95f";
}
.sendicon-icon-routes:before {
  content: "\e960";
}
.sendicon-icon-route:before {
  content: "\e95e";
}
.sendicon-icon-assign-door:before {
  content: "\e95d";
}
.sendicon-icon-multicase:before {
  content: "\e95c";
}
.sendicon-icon-question:before {
  content: "\e95b";
}
.sendicon-icon-toast:before {
  content: "\e950";
}
.sendicon-icon-trade:before {
  content: "\e951";
}
.sendicon-icon-transfer:before {
  content: "\e952";
}
.sendicon-icon-u-turn:before {
  content: "\e953";
}
.sendicon-icon-ui:before {
  content: "\e954";
}
.sendicon-icon-ux:before {
  content: "\e955";
}
.sendicon-icon-vehicle:before {
  content: "\e956";
}
.sendicon-icon-wheat:before {
  content: "\e957";
}
.sendicon-icon-rocket:before {
  content: "\e958";
}
.sendicon-icon-setting:before {
  content: "\e959";
}
.sendicon-icon-star:before {
  content: "\e95a";
}
.sendicon-icon-7:before {
  content: "\e900";
}
.sendicon-icon-add:before {
  content: "\e901";
}
.sendicon-icon-alarm2:before {
  content: "\e902";
}
.sendicon-icon-arrow-left:before {
  content: "\e903";
}
.sendicon-icon-arrow-right:before {
  content: "\e904";
}
.sendicon-icon-attachment:before {
  content: "\e905";
}
.sendicon-icon-bag:before {
  content: "\e906";
}
.sendicon-icon-barcode:before {
  content: "\e907";
}
.sendicon-icon-calendar:before {
  content: "\e908";
}
.sendicon-icon-camera:before {
  content: "\e909";
}
.sendicon-icon-cash:before {
  content: "\e90a";
}
.sendicon-icon-checkbox-checked:before {
  content: "\e90b";
}
.sendicon-icon-checkbox-uncheck:before {
  content: "\e90c";
}
.sendicon-icon-checked:before {
  content: "\e90d";
}
.sendicon-icon-checkout:before {
  content: "\e90e";
}
.sendicon-icon-clock-active:before {
  content: "\e90f";
}
.sendicon-icon-clock-history:before {
  content: "\e910";
}
.sendicon-icon-clock-schedule:before {
  content: "\e911";
}
.sendicon-icon-close:before {
  content: "\e912";
}
.sendicon-icon-courier:before {
  content: "\e913";
}
.sendicon-icon-crossed:before {
  content: "\e914";
}
.sendicon-icon-dashboard-2:before {
  content: "\e915";
}
.sendicon-icon-dashboard-3:before {
  content: "\e916";
}
.sendicon-icon-dashboard-4:before {
  content: "\e917";
}
.sendicon-icon-dashboard-full:before {
  content: "\e918";
}
.sendicon-icon-dashboard:before {
  content: "\e919";
}
.sendicon-icon-data-entry:before {
  content: "\e91a";
}
.sendicon-icon-delivering:before {
  content: "\e91b";
}
.sendicon-icon-department:before {
  content: "\e91c";
}
.sendicon-icon-document:before {
  content: "\e91d";
}
.sendicon-icon-dollar:before {
  content: "\e91e";
}
.sendicon-icon-driver:before {
  content: "\e91f";
}
.sendicon-icon-edit:before {
  content: "\e920";
}
.sendicon-icon-email:before {
  content: "\e921";
}
.sendicon-icon-expand:before {
  content: "\e922";
}
.sendicon-icon-fullscreen:before {
  content: "\e923";
}
.sendicon-icon-getting-location:before {
  content: "\e924";
  color: #fff;
}
.sendicon-icon-group:before {
  content: "\e925";
}
.sendicon-icon-home:before {
  content: "\e926";
}
.sendicon-icon-info:before {
  content: "\e927";
}
.sendicon-icon-less-circle:before {
  content: "\e928";
}
.sendicon-icon-less:before {
  content: "\e929";
}
.sendicon-icon-list:before {
  content: "\e92a";
}
.sendicon-icon-loading:before {
  content: "\e92b";
}
.sendicon-icon-location:before {
  content: "\e92c";
}
.sendicon-icon-lock:before {
  content: "\e92d";
}
.sendicon-icon-menu-active:before {
  content: "\e92e";
}
.sendicon-icon-message:before {
  content: "\e92f";
}
.sendicon-icon-money:before {
  content: "\e930";
}
.sendicon-icon-moneybag:before {
  content: "\e931";
}
.sendicon-icon-more-circle:before {
  content: "\e932";
}
.sendicon-icon-more-icon:before {
  content: "\e933";
}
.sendicon-icon-more:before {
  content: "\e934";
}
.sendicon-icon-office:before {
  content: "\e935";
}
.sendicon-icon-parcel:before {
  content: "\e936";
}
.sendicon-icon-people-circle:before {
  content: "\e937";
}
.sendicon-icon-people:before {
  content: "\e938";
}
.sendicon-icon-phone:before {
  content: "\e939";
}
.sendicon-icon-pickup:before {
  content: "\e93a";
}
.sendicon-icon-pin-map:before {
  content: "\e93b";
}
.sendicon-icon-pin:before {
  content: "\e93c";
}
.sendicon-icon-pop-out:before {
  content: "\e93d";
}
.sendicon-icon-poweroff:before {
  content: "\e93e";
}
.sendicon-icon-profile:before {
  content: "\e93f";
}
.sendicon-icon-recieve-cod:before {
  content: "\e940";
}
.sendicon-icon-return:before {
  content: "\e941";
}
.sendicon-icon-search:before {
  content: "\e942";
}
.sendicon-icon-send:before {
  content: "\e943";
}
.sendicon-icon-settings:before {
  content: "\e944";
}
.sendicon-icon-sorting:before {
  content: "\e945";
}
.sendicon-icon-statistic:before {
  content: "\e946";
}
.sendicon-icon-sync:before {
  content: "\e947";
}
.sendicon-icon-timer:before {
  content: "\e948";
}
.sendicon-icon-trash:before {
  content: "\e949";
}
.sendicon-icon-unview:before {
  content: "\e94a";
}
.sendicon-icon-upload:before {
  content: "\e94b";
}
.sendicon-icon-view:before {
  content: "\e94c";
}
.sendicon-icon-warehouse:before {
  content: "\e94d";
}
.sendicon-icon-world-minimal:before {
  content: "\e94e";
}
.sendicon-icon-world:before {
  content: "\e94f";
}
