@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?5694uo');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?5694uo#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?5694uo') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?5694uo') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?5694uo##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="sendicon-"], [class*=" sendicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sendicon-icon-mapping {
  &:before {
    content: $sendicon-icon-mapping; 
  }
}
.sendicon-icon-toggle-off {
  &:before {
    content: $sendicon-icon-toggle-off; 
  }
}
.sendicon-icon-pin1 {
  &:before {
    content: $sendicon-icon-pin1; 
  }
}
.sendicon-icon-toggle {
  &:before {
    content: $sendicon-icon-toggle; 
  }
}
.sendicon-icon-work {
  &:before {
    content: $sendicon-icon-work; 
  }
}
.sendicon-icon-parcel-2 {
  &:before {
    content: $sendicon-icon-parcel-2; 
  }
}
.sendicon-icon-database {
  &:before {
    content: $sendicon-icon-database; 
  }
}
.sendicon-icon-import {
  &:before {
    content: $sendicon-icon-import; 
  }
}
.sendicon-icon-dashboard-5 {
  &:before {
    content: $sendicon-icon-dashboard-5; 
  }
}
.sendicon-icon-door {
  &:before {
    content: $sendicon-icon-door; 
  }
}
.sendicon-icon-thermomter {
  &:before {
    content: $sendicon-icon-thermomter; 
  }
}
.sendicon-icon-failed {
  &:before {
    content: $sendicon-icon-failed; 
  }
}
.sendicon-icon-monitor {
  &:before {
    content: $sendicon-icon-monitor; 
  }
}
.sendicon-icon-line {
  &:before {
    content: $sendicon-icon-line; 
  }
}
.sendicon-icon-routes {
  &:before {
    content: $sendicon-icon-routes; 
  }
}
.sendicon-icon-route {
  &:before {
    content: $sendicon-icon-route; 
  }
}
.sendicon-icon-assign-door {
  &:before {
    content: $sendicon-icon-assign-door; 
  }
}
.sendicon-icon-multicase {
  &:before {
    content: $sendicon-icon-multicase; 
  }
}
.sendicon-icon-question {
  &:before {
    content: $sendicon-icon-question; 
  }
}
.sendicon-icon-toast {
  &:before {
    content: $sendicon-icon-toast; 
  }
}
.sendicon-icon-trade {
  &:before {
    content: $sendicon-icon-trade; 
  }
}
.sendicon-icon-transfer {
  &:before {
    content: $sendicon-icon-transfer; 
  }
}
.sendicon-icon-u-turn {
  &:before {
    content: $sendicon-icon-u-turn; 
  }
}
.sendicon-icon-ui {
  &:before {
    content: $sendicon-icon-ui; 
  }
}
.sendicon-icon-ux {
  &:before {
    content: $sendicon-icon-ux; 
  }
}
.sendicon-icon-vehicle {
  &:before {
    content: $sendicon-icon-vehicle; 
  }
}
.sendicon-icon-wheat {
  &:before {
    content: $sendicon-icon-wheat; 
  }
}
.sendicon-icon-rocket {
  &:before {
    content: $sendicon-icon-rocket; 
  }
}
.sendicon-icon-setting {
  &:before {
    content: $sendicon-icon-setting; 
  }
}
.sendicon-icon-star {
  &:before {
    content: $sendicon-icon-star; 
  }
}
.sendicon-icon-7 {
  &:before {
    content: $sendicon-icon-7; 
  }
}
.sendicon-icon-add {
  &:before {
    content: $sendicon-icon-add; 
  }
}
.sendicon-icon-alarm {
  &:before {
    content: $sendicon-icon-alarm; 
  }
}
.sendicon-icon-arrow-left {
  &:before {
    content: $sendicon-icon-arrow-left; 
  }
}
.sendicon-icon-arrow-right {
  &:before {
    content: $sendicon-icon-arrow-right; 
  }
}
.sendicon-icon-attachment {
  &:before {
    content: $sendicon-icon-attachment; 
  }
}
.sendicon-icon-bag {
  &:before {
    content: $sendicon-icon-bag; 
  }
}
.sendicon-icon-barcode {
  &:before {
    content: $sendicon-icon-barcode; 
  }
}
.sendicon-icon-calendar {
  &:before {
    content: $sendicon-icon-calendar; 
  }
}
.sendicon-icon-camera {
  &:before {
    content: $sendicon-icon-camera; 
  }
}
.sendicon-icon-cash {
  &:before {
    content: $sendicon-icon-cash; 
  }
}
.sendicon-icon-checkbox-checked {
  &:before {
    content: $sendicon-icon-checkbox-checked; 
  }
}
.sendicon-icon-checkbox-uncheck {
  &:before {
    content: $sendicon-icon-checkbox-uncheck; 
  }
}
.sendicon-icon-checked {
  &:before {
    content: $sendicon-icon-checked; 
  }
}
.sendicon-icon-checkout {
  &:before {
    content: $sendicon-icon-checkout; 
  }
}
.sendicon-icon-clock-active {
  &:before {
    content: $sendicon-icon-clock-active; 
  }
}
.sendicon-icon-clock-history {
  &:before {
    content: $sendicon-icon-clock-history; 
  }
}
.sendicon-icon-clock-schedule {
  &:before {
    content: $sendicon-icon-clock-schedule; 
  }
}
.sendicon-icon-close {
  &:before {
    content: $sendicon-icon-close; 
  }
}
.sendicon-icon-courier {
  &:before {
    content: $sendicon-icon-courier; 
  }
}
.sendicon-icon-crossed {
  &:before {
    content: $sendicon-icon-crossed; 
  }
}
.sendicon-icon-dashboard-2 {
  &:before {
    content: $sendicon-icon-dashboard-2; 
  }
}
.sendicon-icon-dashboard-3 {
  &:before {
    content: $sendicon-icon-dashboard-3; 
  }
}
.sendicon-icon-dashboard-4 {
  &:before {
    content: $sendicon-icon-dashboard-4; 
  }
}
.sendicon-icon-dashboard-full {
  &:before {
    content: $sendicon-icon-dashboard-full; 
  }
}
.sendicon-icon-dashboard {
  &:before {
    content: $sendicon-icon-dashboard; 
  }
}
.sendicon-icon-data-entry {
  &:before {
    content: $sendicon-icon-data-entry; 
  }
}
.sendicon-icon-delivering {
  &:before {
    content: $sendicon-icon-delivering; 
  }
}
.sendicon-icon-department {
  &:before {
    content: $sendicon-icon-department; 
  }
}
.sendicon-icon-document {
  &:before {
    content: $sendicon-icon-document; 
  }
}
.sendicon-icon-dollar {
  &:before {
    content: $sendicon-icon-dollar; 
  }
}
.sendicon-icon-driver {
  &:before {
    content: $sendicon-icon-driver; 
  }
}
.sendicon-icon-edit {
  &:before {
    content: $sendicon-icon-edit; 
  }
}
.sendicon-icon-email {
  &:before {
    content: $sendicon-icon-email; 
  }
}
.sendicon-icon-expand {
  &:before {
    content: $sendicon-icon-expand; 
  }
}
.sendicon-icon-fullscreen {
  &:before {
    content: $sendicon-icon-fullscreen; 
  }
}
.sendicon-icon-getting-location {
  &:before {
    content: $sendicon-icon-getting-location; 
  }
}
.sendicon-icon-group {
  &:before {
    content: $sendicon-icon-group; 
  }
}
.sendicon-icon-home {
  &:before {
    content: $sendicon-icon-home; 
  }
}
.sendicon-icon-info {
  &:before {
    content: $sendicon-icon-info; 
  }
}
.sendicon-icon-less-circle {
  &:before {
    content: $sendicon-icon-less-circle; 
  }
}
.sendicon-icon-less {
  &:before {
    content: $sendicon-icon-less; 
  }
}
.sendicon-icon-list {
  &:before {
    content: $sendicon-icon-list; 
  }
}
.sendicon-icon-loading {
  &:before {
    content: $sendicon-icon-loading; 
  }
}
.sendicon-icon-location {
  &:before {
    content: $sendicon-icon-location; 
  }
}
.sendicon-icon-lock {
  &:before {
    content: $sendicon-icon-lock; 
  }
}
.sendicon-icon-menu-active {
  &:before {
    content: $sendicon-icon-menu-active; 
  }
}
.sendicon-icon-message {
  &:before {
    content: $sendicon-icon-message; 
  }
}
.sendicon-icon-money {
  &:before {
    content: $sendicon-icon-money; 
  }
}
.sendicon-icon-moneybag {
  &:before {
    content: $sendicon-icon-moneybag; 
  }
}
.sendicon-icon-more-circle {
  &:before {
    content: $sendicon-icon-more-circle; 
  }
}
.sendicon-icon-more-icon {
  &:before {
    content: $sendicon-icon-more-icon; 
  }
}
.sendicon-icon-more {
  &:before {
    content: $sendicon-icon-more; 
  }
}
.sendicon-icon-office {
  &:before {
    content: $sendicon-icon-office; 
  }
}
.sendicon-icon-parcel {
  &:before {
    content: $sendicon-icon-parcel; 
  }
}
.sendicon-icon-people-circle {
  &:before {
    content: $sendicon-icon-people-circle; 
  }
}
.sendicon-icon-people {
  &:before {
    content: $sendicon-icon-people; 
  }
}
.sendicon-icon-phone {
  &:before {
    content: $sendicon-icon-phone; 
  }
}
.sendicon-icon-pickup {
  &:before {
    content: $sendicon-icon-pickup; 
  }
}
.sendicon-icon-pin-map {
  &:before {
    content: $sendicon-icon-pin-map; 
  }
}
.sendicon-icon-pin {
  &:before {
    content: $sendicon-icon-pin; 
  }
}
.sendicon-icon-pop-out {
  &:before {
    content: $sendicon-icon-pop-out; 
  }
}
.sendicon-icon-poweroff {
  &:before {
    content: $sendicon-icon-poweroff; 
  }
}
.sendicon-icon-profile {
  &:before {
    content: $sendicon-icon-profile; 
  }
}
.sendicon-icon-recieve-cod {
  &:before {
    content: $sendicon-icon-recieve-cod; 
  }
}
.sendicon-icon-return {
  &:before {
    content: $sendicon-icon-return; 
  }
}
.sendicon-icon-search {
  &:before {
    content: $sendicon-icon-search; 
  }
}
.sendicon-icon-send {
  &:before {
    content: $sendicon-icon-send; 
  }
}
.sendicon-icon-settings {
  &:before {
    content: $sendicon-icon-settings; 
  }
}
.sendicon-icon-sorting {
  &:before {
    content: $sendicon-icon-sorting; 
  }
}
.sendicon-icon-statistic {
  &:before {
    content: $sendicon-icon-statistic; 
  }
}
.sendicon-icon-sync {
  &:before {
    content: $sendicon-icon-sync; 
  }
}
.sendicon-icon-timer {
  &:before {
    content: $sendicon-icon-timer; 
  }
}
.sendicon-icon-trash {
  &:before {
    content: $sendicon-icon-trash; 
  }
}
.sendicon-icon-unview {
  &:before {
    content: $sendicon-icon-unview; 
  }
}
.sendicon-icon-upload {
  &:before {
    content: $sendicon-icon-upload; 
  }
}
.sendicon-icon-view {
  &:before {
    content: $sendicon-icon-view; 
  }
}
.sendicon-icon-warehouse {
  &:before {
    content: $sendicon-icon-warehouse; 
  }
}
.sendicon-icon-world-minimal {
  &:before {
    content: $sendicon-icon-world-minimal; 
  }
}
.sendicon-icon-world {
  &:before {
    content: $sendicon-icon-world; 
  }
}

