$icomoon-font-family: "sendicon" !default;
$icomoon-font-path: "fonts" !default;

$sendicon-icon--motocycle: "\e963";
$sendicon-icon-assign-01: "\e964";
$sendicon-icon-assign-sub: "\e965";
$sendicon-icon-attachment-01: "\e966";
$sendicon-icon-backpack: "\e967";
$sendicon-icon-bar-chart: "\e968";
$sendicon-icon-calculator: "\e969";
$sendicon-icon-clone: "\e96a";
$sendicon-icon-filter: "\e96b";
$sendicon-icon-folder: "\e96c";
$sendicon-icon-heart: "\e96d";
$sendicon-icon-loading-2: "\e96e";
$sendicon-icon-Navi: "\e96f";
$sendicon-icon-parcel-sorting: "\e970";
$sendicon-icon-slash-mini: "\e971";
$sendicon-icon-slash: "\e972";
$sendicon-icon-sort: "\e973";
$sendicon-icon-store: "\e974";
$sendicon-icon-tag: "\e975";
$sendicon-icon-truck-4w: "\e976";
$sendicon-icon-truck-6w2: "\e977";
$sendicon-icon-truck-6w: "\e978";
$sendicon-icon-truck-10w: "\e979";
$sendicon-icon-alarm: "\e962";
$sendicon-icon-monitor: "\e961";
$sendicon-icon-line: "\e95f";
$sendicon-icon-routes: "\e960";
$sendicon-icon-route: "\e95e";
$sendicon-icon-assign-door: "\e95d";
$sendicon-icon-multicase: "\e95c";
$sendicon-icon-question: "\e95b";
$sendicon-icon-toast: "\e950";
$sendicon-icon-trade: "\e951";
$sendicon-icon-transfer: "\e952";
$sendicon-icon-u-turn: "\e953";
$sendicon-icon-ui: "\e954";
$sendicon-icon-ux: "\e955";
$sendicon-icon-vehicle: "\e956";
$sendicon-icon-wheat: "\e957";
$sendicon-icon-rocket: "\e958";
$sendicon-icon-setting: "\e959";
$sendicon-icon-star: "\e95a";
$sendicon-icon-7: "\e900";
$sendicon-icon-add: "\e901";
$sendicon-icon-alarm2: "\e902";
$sendicon-icon-arrow-left: "\e903";
$sendicon-icon-arrow-right: "\e904";
$sendicon-icon-attachment: "\e905";
$sendicon-icon-bag: "\e906";
$sendicon-icon-barcode: "\e907";
$sendicon-icon-calendar: "\e908";
$sendicon-icon-camera: "\e909";
$sendicon-icon-cash: "\e90a";
$sendicon-icon-checkbox-checked: "\e90b";
$sendicon-icon-checkbox-uncheck: "\e90c";
$sendicon-icon-checked: "\e90d";
$sendicon-icon-checkout: "\e90e";
$sendicon-icon-clock-active: "\e90f";
$sendicon-icon-clock-history: "\e910";
$sendicon-icon-clock-schedule: "\e911";
$sendicon-icon-close: "\e912";
$sendicon-icon-courier: "\e913";
$sendicon-icon-crossed: "\e914";
$sendicon-icon-dashboard-2: "\e915";
$sendicon-icon-dashboard-3: "\e916";
$sendicon-icon-dashboard-4: "\e917";
$sendicon-icon-dashboard-full: "\e918";
$sendicon-icon-dashboard: "\e919";
$sendicon-icon-data-entry: "\e91a";
$sendicon-icon-delivering: "\e91b";
$sendicon-icon-department: "\e91c";
$sendicon-icon-document: "\e91d";
$sendicon-icon-dollar: "\e91e";
$sendicon-icon-driver: "\e91f";
$sendicon-icon-edit: "\e920";
$sendicon-icon-email: "\e921";
$sendicon-icon-expand: "\e922";
$sendicon-icon-fullscreen: "\e923";
$sendicon-icon-getting-location: "\e924";
$sendicon-icon-group: "\e925";
$sendicon-icon-home: "\e926";
$sendicon-icon-info: "\e927";
$sendicon-icon-less-circle: "\e928";
$sendicon-icon-less: "\e929";
$sendicon-icon-list: "\e92a";
$sendicon-icon-loading: "\e92b";
$sendicon-icon-location: "\e92c";
$sendicon-icon-lock: "\e92d";
$sendicon-icon-menu-active: "\e92e";
$sendicon-icon-message: "\e92f";
$sendicon-icon-money: "\e930";
$sendicon-icon-moneybag: "\e931";
$sendicon-icon-more-circle: "\e932";
$sendicon-icon-more-icon: "\e933";
$sendicon-icon-more: "\e934";
$sendicon-icon-office: "\e935";
$sendicon-icon-parcel: "\e936";
$sendicon-icon-people-circle: "\e937";
$sendicon-icon-people: "\e938";
$sendicon-icon-phone: "\e939";
$sendicon-icon-pickup: "\e93a";
$sendicon-icon-pin-map: "\e93b";
$sendicon-icon-pin: "\e93c";
$sendicon-icon-pop-out: "\e93d";
$sendicon-icon-poweroff: "\e93e";
$sendicon-icon-profile: "\e93f";
$sendicon-icon-recieve-cod: "\e940";
$sendicon-icon-return: "\e941";
$sendicon-icon-search: "\e942";
$sendicon-icon-send: "\e943";
$sendicon-icon-settings: "\e944";
$sendicon-icon-sorting: "\e945";
$sendicon-icon-statistic: "\e946";
$sendicon-icon-sync: "\e947";
$sendicon-icon-timer: "\e948";
$sendicon-icon-trash: "\e949";
$sendicon-icon-unview: "\e94a";
$sendicon-icon-upload: "\e94b";
$sendicon-icon-view: "\e94c";
$sendicon-icon-warehouse: "\e94d";
$sendicon-icon-world-minimal: "\e94e";
$sendicon-icon-world: "\e94f";

