icomoon-font-path ?= "fonts"

icon-icon-menu-hamburger = "\e955"
icon-more-options = "\e953"
icon-power-off = "\e954"
icon-triangly-left = "\e94e"
icon-triangly-right = "\e94f"
icon-blank-circle = "\e94c"
icon-blank = "\e94d"
icon-location-dropoff = "\e947"
icon-location-pickup = "\e948"
icon-less = "\e946"
icon-more = "\e943"
icon-schedule-circle = "\e944"
icon-story-cashondemand-circle = "\e945"
icon-story-cashondemand = "\e942"
icon-alarm-outline = "\e900"
icon-alarm = "\e901"
icon-back = "\e902"
icon-barcode = "\e903"
icon-billing = "\e904"
icon-bookmark = "\e905"
icon-camera = "\e906"
icon-cancel-circle = "\e907"
icon-cancel = "\e908"
icon-cash = "\e909"
icon-checked-circle = "\e90a"
icon-checked = "\e90b"
icon-clear-circle = "\e90c"
icon-clear = "\e90d"
icon-datepicker = "\e90e"
icon-down = "\e90f"
icon-heart-outline = "\e910"
icon-heart = "\e911"
icon-home = "\e912"
icon-link = "\e913"
icon-location = "\e914"
icon-lock = "\e915"
icon-menu-active-delivery = "\e916"
icon-menu-assignment = "\e917"
icon-menu-faq = "\e918"
icon-menu-history = "\e919"
icon-menu-news = "\e91a"
icon-menu-setting = "\e91b"
icon-move-left-right = "\e91c"
icon-move-up-down = "\e91d"
icon-move = "\e91e"
icon-office = "\e91f"
icon-parcel-dropoff-circle = "\e920"
icon-parcel-dropoff = "\e921"
icon-parcel-pickup-circle = "\e922"
icon-parcel-pickup = "\e923"
icon-parcel = "\e924"
icon-pencil-edit = "\e925"
icon-people = "\e926"
icon-phone-cc = "\e927"
icon-phone-circle-outline = "\e928"
icon-phone-circle = "\e929"
icon-phone = "\e92a"
icon-pin-floor = "\e92b"
icon-pin = "\e92c"
icon-reorder = "\e92d"
icon-retry = "\e92e"
icon-right = "\e92f"
icon-search = "\e930"
icon-sendit-rocket = "\e931"
icon-service-cash-on-delivery = "\e932"
icon-service-document-processing = "\e933"
icon-service-hot-food = "\e934"
icon-service-insurrance = "\e935"
icon-service-mailing = "\e936"
icon-service-photo-id = "\e937"
icon-service-purchase = "\e938"
icon-service-return-route = "\e939"
icon-shopping-bag-opened = "\e93a"
icon-shopping-bag = "\e93b"
icon-statistic = "\e93c"
icon-traffic = "\e93d"
icon-up = "\e93e"
icon-vehicle-moto = "\e93f"
icon-vehicle-truck = "\e940"
icon-vehicle-van = "\e941"
icon-trash = "\e950"
icon-keyboard = "\e951"
icon-qrcode = "\e952"
icon-save = "\e94b"
icon-star-empty = "\e949"
icon-star-full = "\e94a"

